@font-face {
  font-family: 'Holtwood';
  src: url('./assets/HoltwoodOneSC-Regular.ttf');
}

@keyframes pop-animation {
  0% {transform: scale(1);}
  25% {transform: scale(1.05);}
  50% {transform: scale(1.1);}
  75% {transform: scale(1.05);}
  100% {transform: scale(1);}
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}

.App {
  min-height: 100vh;
  height: auto;
}

/*  -------------------------- header */

@media (max-width: 830px) {
  .header {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 15px;
    align-items: center;
  }
}

.header {
  display: flex;
  background-color: rgb(0, 68, 68, .95);
  padding: 5px;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0px;
}

/* logo */
.header .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.logo .star-icon {
  width: 30px;
  height: 30px;
  background-image: url('./assets/star.svg');
  background-repeat: no-repeat;
  background-position: center;
  filter: invert();
}
.logo .logo-text {
  font-family: 'Holtwood';
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.logo .logo-text:hover {
  animation: pop-animation 250ms;
}

span.css-1aquho2-MuiTabs-indicator {
  background-color: #00ffff;
  height: 10px;
}

a.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #00ffff;
  font-weight: bold;
  font-size: 1.2rem;
}

a.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

/* -----------------------about us */

.about-us {
  background-image: url(./assets/about-us-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

@media (max-width: 730px) {
  .about-us .paragraph {
    flex-direction: column;
  }

  .about-us .paragraph img.image {
    width: 75vw;
  }
}

.about-us .title {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 20px;
}

.about-us .paragraph {
  display: flex;
  align-items: center;
  width: auto;
  padding: 20px;
  background-color: rgb(0, 68, 68, .8); 
}

.about-us .paragraph .text {
  flex: 1;
  padding: 10px;
  color: white;
  font-size: 1.3rem;
}
.about-us .paragraph .image {
  width: 30vw;
}

/* ------------------------- home */

.home .visit-shop {
  display: grid;
  grid-template-columns: repeat(3, 345px);
  justify-content: space-around;
  gap: 15px;
}

@media (max-width: 1100px) {
  .home .visit-shop {
    grid-template-columns: repeat(2, 345px);
  }
}

@media (max-width: 760px) {
  .home .visit-shop {
    grid-template-columns: 345px;
  }
}

.home .paragraph {
  display: flex;
  align-items: center;
  width: 100%;
}
.home .paragraph .text {
  flex: 1;
}
.home .paragraph .image {
  width: 30vw;
}

@media (max-width: 730px) {
  .home .paragraph {
    flex-direction: column;
  }

  .home .paragraph img.image {
    width: 75vw;
  }
}

/* --------------------shop */

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 345px);
  justify-content: space-around;
  gap: 15px;
}

@media (max-width: 1100px) {
  .cards-container {
    grid-template-columns: repeat(2, 345px);
  }
}

@media (max-width: 760px) {
  .cards-container {
    grid-template-columns: 345px;
  }
}