@font-face {
  font-family: 'Holtwood';
  src: url('./assets/HoltwoodOneSC-Regular.ttf');
}

@keyframes pop-animation {
  0% {transform: scale(1);}
  25% {transform: scale(1.05);}
  50% {transform: scale(1.1);}
  75% {transform: scale(1.05);}
  100% {transform: scale(1);}
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}

.App {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
}

/*  -------------------------- header */

@media (max-width: 830px) {
  .header {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 15px;
    align-items: center;
  }
}

.header {
  display: flex;
  background-color: rgb(0, 68, 68, .95);
  padding: 5px;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
}

/* logo */
.header .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.logo .star-icon {
  width: 30px;
  height: 30px;
  background-image: url('./assets/star.svg');
  background-repeat: no-repeat;
  background-position: center;
  filter: invert();
}
.logo .logo-text {
  font-family: 'Holtwood';
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.logo .logo-text:hover {
  animation: pop-animation 250ms;
}

span.MuiTabs-indicator {
  background-color: #00ffff;
  height: 10px;
}

a.MuiTab-root.Mui-selected {
  color: #00ffff;
  font-weight: bold;
  font-size: 1.2rem;
}

a.MuiTab-root {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

/* -----------------------about us */

.about-us {
  background-image: url(./assets/about-us-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

@media (max-width: 730px) {
  .about-us .paragraph {
    flex-direction: column;
  }

  .about-us .paragraph img.image {
    width: 75vw;
  }
}

.about-us .title {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 20px;
}

.about-us .paragraph {
  display: flex;
  align-items: center;
  width: auto;
  padding: 20px;
  border-radius: 0px;
  gap: 20px;
  background-color: rgb(0, 68, 68, .8); 
}

.about-us .paragraph .text {
  flex: 1;
  padding: 10px;
  color: white;
  font-size: 1.3rem;
  text-align: justify;
}
.about-us .paragraph .image {
  width: 25vw;
}

/* ------------------------- home */

.home {
  background-image: url(./assets/home-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.home .title {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 20px;
}

.home .visit-shop {
  display: grid;
  grid-template-columns: repeat(3, 345px);
  justify-content: space-around;
  gap: 15px;
}

@media (max-width: 1100px) {
  .home .visit-shop {
    grid-template-columns: repeat(2, 345px);
  }
}

@media (max-width: 760px) {
  .home .visit-shop {
    grid-template-columns: 345px;
  }
}

.home .paragraph {
  display: flex;
  align-items: center;
  width: auto;
  padding: 20px;
  border-radius: 0px;
  gap: 20px;
  background-color: rgb(0, 68, 68, .8);
}
.home .paragraph .text {
  flex: 1;
  padding: 10px;
  color: white;
  font-size: 1.3rem;
  text-align: justify;
}
.home .paragraph .image {
  width: 25vw;
}

@media (max-width: 730px) {
  .home .paragraph {
    flex-direction: column;
  }

  .home .paragraph img.image {
    width: 75vw;
  }
}

div.MuiCard-root {
  background-color: rgb(0, 68, 68, .8);
  border-radius: 0px;
}

div.MuiTypography-root {
  color: white;
  font-size: 1.75rem;
  text-align: center;
  font-weight: bold;
}

p.MuiTypography-root {
  color: white;
  font-size: 1.15rem;
  text-align: justify;
  padding: 10px;
}

/* --------------------shop */

.shop {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-image: url(./assets/shop-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
}

.shop .title {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 345px);
  justify-content: space-around;
  gap: 15px;
}

div.MuiCardActions-root {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.cards-container .buy-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.buy-product .quantity {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.buy-product .quantity label {
  color: white;
  font-size: 1.2rem;
}

.buy-product .quantity input {
  width: 50px;
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
}

button.MuiButton-root.submit-button {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border: solid 1px white;
}

@media (max-width: 1100px) {
  .cards-container {
    grid-template-columns: repeat(2, 345px);
  }
}

@media (max-width: 760px) {
  .cards-container {
    grid-template-columns: 345px;
  }
}

/* ------------shopping cart */

.shopping-cart {
  background-image: url(./assets/cart-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex: 1;
}

@media (max-width: 900px) {
  .shopping-cart {
    flex-direction: column;
  }
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.MuiCard-root.empty-cart-card {
  padding: 30px;
  background-color: rgb(0, 68, 68, .95);
  border-radius: 0px;
  height: fit-content;
}

.empty-cart-card p {
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

div.MuiCard-root.cart-card {
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: rgb(0, 68, 68, .95);
  border-radius: 0px;
}

@media (max-width: 600px) {
  div.MuiCard-root.cart-card {
    flex-direction: column;
  }
}

div.MuiCard-root.cart-card .MuiCardMedia-root {
  width: 140px;
}

div.MuiCard-root.cart-card  div.MuiTypography-root {
  font-size: 1.25rem;
  text-align: start;
}

div.MuiCard-root.cart-card .MuiCardContent-root {
  flex: 1;
}

div.MuiCard-root.cart-card .MuiButton-root {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border: solid 1px white;
}

.MuiCard-root.sum-card {
  background-color: rgb(0, 68, 68, .95);
  border-radius: 0px;
  border: 1px solid white;
}

.MuiCard-root.sum-card p,
.MuiCard-root.sum-card div {
  color: white;
}

.MuiCard-root.sum-card button {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border: solid 1px white;
  background-color: black;
}